@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@layer components {
  p, h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-white
  }
  section {
    @apply bg-white dark:bg-black
  }
}*/

/*Light mode colors*/
:root {
  --background: 255,240,240;
  --backdrop-primary: 243,229,229;
  --backdrop-secondary: 231,218,218;
  --highlight-primary: 239,26,45;
  --highlight-secondary: 247,137,143;
  --background-gradient: linear-gradient(127.4deg, #F7898F 0%, #FFF0F0 100%);
  --text-color: 0,0,0;  
}

/*Dark mode colors*/
/*Valoszinuleg nem lesz jo megoldas a media prefers color scheme*/
@media(prefers-color-scheme: dark) {
  :root .dark {
    --background: 27,27,27;
    --backdrop-primary: 35,35,35;
    --backdrop-secondary: 43,43,43;
    --highlight-primary: 239,26,45;
    --highlight-secondary: 121,14,28;
    --background-gradient: linear-gradient(143.907deg, #EF1A2D 0%, #1B1B1B 100%);

    --text-color: 255,255,255;
  }
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@layer base {
  .theader{

  }
  .tsm {
    @apply text-sm font-light;
  }
  .tlg {
    @apply text-lg font-semibold;
  }
  .txl {
    @apply text-xl font-semibold;
  }
  .t2x {
    @apply text-2xl font-bold;
  }
  .description {
    @apply secondary rounded-xl p-2
  }
  .secondary {
    @apply bg-backdropSecondary;
  }
  .primary {
    @apply bg-backdropPrimary;
  }
  .background {
    @apply bg-background;
  }
  .highlight {
    @apply bg-highlight;
  }
  .highlight-dark {
    @apply bg-highlight-dark dark:bg-highlight-dark;
  }
  .highlight-light {
    @apply bg-highlight-light dark:bg-highlight-light;
  }
  .highlight-themed {
    @apply bg-highlight-light dark:bg-highlight-dark;
  }
  .divider {
    @apply w-11/12 mx-auto border border-black dark:border-white my-2 muted;
  }
  .stroke {
    @apply border border-black dark:border-white;
  }
  .muted {
    @apply opacity-65;
  }
}